<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>verify-mail</title>
  <style>
    .verify-mail-block {
      display: flex;
    }
    .verify-mail-container {
      border: 1px solid #999;
      display:  flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }
    .verify-mail-button {
      margin-top: 20px;
      background-color :#e4e4e4;
      padding: 10px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-in ;
    }
    .verify-mail-button:hover {
      background-color :#bcbcbc;
    }

  </style>
 
</head>
<body>
  
  <div class="verify-mail-block">
    <div class="verify-mail-container">
      <span>
      안녕하세요.<br/>
      비밀번호 변경을 위해 아래 버튼을 눌러주세요.
    </span>
    <a class="verify-mail-button" href="{{ link }}" target="_blank" rel="noopener noreferrer">
      비밀번호 변경하기
    </a>
    </div>
  </div>
</body>
</html>